<%- layout("layouts/boilerplate") %>

     <h1>Edit yours Listing</h1>

<form method="POST" action="/listings/<%= listing._id %>?_method=PUT">
    <div>
        <label for="title" class="">Title</label>
        <input name="listing[title]" value="<%= listing.title%>" type="text">
    </div>

        
    <div>
        <label for="title" class="">Title</label>
        <textarea name="listing[description]"><%= listing.description %></textarea>
    </div>    
    <div>
        <label for="title" class="">Title</label>
        <input name="listing[image]" value="<%= listing.image%>" type="text">
    </div>
     
    <div>
        <label for="title" class="">Title</label>
        <input name="listing[price]" value="<%= listing.price%>" type="number">
    </div>
    
    <div>
        <label for="title" class="">Title</label>
        <input name="listing[country]" value="<%= listing.country%>" type="text">
    </div>
       
    <div>
        <label for="title" class="">Title</label>
        <input name="listing[location]" value="<%= listing.location%>" type="text">
    </div>

    
        <button type="submit">Edit</button>
    </form>
</body>
</html>