<%- layout("layouts/boilerplate") %>
<body>

  <style>


    #filters {
      display: flex;
      flex-wrap: wrap;
    }


    .filter{
      text-align: center;
      margin-right: 2rem;
      margin-top: 2rem;
      opacity: 0.7;
    }

    .filter:hover {
      opacity: 1;
      cursor: pointer;
    }


  </style>

 <div id="filters">
  <div class="filter">
    <div><i class="fa-solid fa-fire"></i></div>
    <p>Trending</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-person-shelter"></i></div>
    <p>Rooms</p>
  </div>
   <div class="filter">
    <div><i class="fa-solid fa-mountain-city"></i></div>
    <p>Iconic cities</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-mountain-sun"></i></div>
    <p>Mountains</p>
  </div>
   <div class="filter">
    <div><i class="fa-brands fa-fort-awesome"></i></div>
    <p>Castles</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-person-swimming"></i></div>
    <p>Amezing Pools</p>
  </div>
</div>

  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 mt-3">
    <% for (let listing of allListings) { %>
      <a href="/listings/<%= listing._id %>" class="all-cards" >
        <div class="col mb-4">
          <div class="listing-card h-100" style="width: 20rem;">
            <img src="<%= listing.image.url %>" class="card-img-top" alt="listing image" style="height: 20rem;">
            <div class="card-img-overlay"></div>
            <div class="card-text">
              <p class="card-title"><b><%= listing.title %></b></p>
              <p class="card-text1">₹ <%= listing.price.toLocaleString("en-IN") %> / Night</p> 
            </div>
          </div>
        </div>
      </a>
    <% } %>
  </div>
</body>
