<%- layout("layouts/boilerplate") %> <!-- no leading slash -->

<body>
  <b><h1>🏡 All Listings</h1></b>

  <form method="GET" action="/listings/new">
    <button class="btn btn-success mb-3">Create New Listing</button>
  </form>

  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1">
    <% for (let listing of allListings) { %>
      <a href="/listings/<%= listing._id %>" class="all-cards" >
        <div class="col mb-4">
          <div class="card h-100" style="width: 20rem;">
            <img src="<%= listing.image?.url %>" class="card-img-top" alt="listing image" style="height: 20rem;">
            <div class="card-img-overlay"></div>
            <div class="card-text">
              <p class="card-title"><b><%= listing.title %></b></p>
              <p class="card-text1">₹ <%= listing.price %> / Night</p> 
            </div>
          </div>
        </div>
      </a>
    <% } %>
  </div>
</body>
